In [38]:
from datetime import datetime, date
import json

def date_format(date):
    datetimeobject = datetime.strptime(date,"%d/%m/%Y")
    
    new_format_1 = datetimeobject.strftime("%d %b %Y")
    formate = new_format_1.split(" ")
    if int(formate[0]) > 0 and int(formate[0]) == 1:
        formate[0] = str(formate[0])+"st"
    elif int(formate[0]) > 1 and int(formate[0]) == 2:
        formate[0] = str(formate[0])+"nd"
    elif int(formate[0]) > 2 and int(formate[0]) == 3:
        formate[0] = str(formate[0])+"rd"
    elif int(formate[0]) > 3 and int(formate[0]) < 21 or int(formate[0]) > 23:
        formate[0] = str(formate[0])+"th"
    elif int(formate[0]) > 20 and int(formate[0]) == 21:
        formate[0] = str(formate[0])+"st"
    elif int(formate[0]) > 21 and int(formate[0]) == 22:
        formate[0] = str(formate[0])+"nd"
    elif int(formate[0]) > 22 and int(formate[0]) == 23:
        formate[0] = str(formate[0])+"st"
    
    return " ".join(formate)

def find_age(born):
    born = datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    age = today.year - born.year - ((today.month,today.day) < (born.month,born.day))
    
    return age

In [40]:
f = open('data.json')
data = json.load(f)
# for i in range(0, len(data["data"])):
#     data['data'][i]["Age"] = find_age(data['data'][i]["DOB"])

In [45]:
f = open('data.json')
data = json.load(f)
for i in range(0, len(data["data"])):
    data['data'][i]["Age"] = find_age(data['data'][i]["DOB"])
d = [data["data"][i:i+5] for i in range(0, len(data["data"]), 5)]
count = 0
string = "P , " + " , ".join([str(i+1) for i in range(len(d))]) + " , N"
# def pageing(c):
#     # c = 0
#     #     c +=5
#     for i in data["data"][c:c+5]:
#         for k, v in i.items():
#             if k:
#                 if k == "DOB":
#                     print(k, " : ", date_format(v))
#                 else:
#                     print(k, " : ", v)

#         print()
#     return


#     for i in data["data"][:5]:
#         for k, v in i.items():
#             if k:
#                 if k == "DOB":
#                     print(k, " : ",date_format(v))
#                 else:
#                     print(k, " : ", v)
#         print()

#     while True:

#         inp = input(string)
#         print()
#         if inp == "n" or inp == "N":
#             c += 5
#             if c >= 25:
#                 print("End of the Page")
#             else:
#                 pageing(c)

#         elif inp == "1":
#             for i in data["data"][:5]:
#                 for k, v in i.items():
#                     if k:
#                         if k == "DOB":
#                             print(k, " : ", date_format(v))
#                         else:
#                             print(k, " : ", v)
#                 print()

#         elif inp == "2":
#             for i in data["data"][5:10]:
#                 for k, v in i.items():
#                     if k:
#                         if k == "DOB":
#                             print(k, " : ", date_format(v))
#                         else:
#                             print(k, " : ", v)
#                 print()
#             c = 10

#         elif inp == "3":
#             for i in data["data"][10:15]:
#                 for k, v in i.items():
#                     if k:
#                         if k == "DOB":
#                             print(k, " : ", date_format(v))
#                         else:
#                             print(k, " : ", v)
#                 print()

#             c = 15

#         elif inp == "4":
#             for i in data["data"][15:20]:
#                 for k, v in i.items():
#                     if k:
#                         if k == "DOB":
#                             print(k, " : ", date_format(v))
#                         else:
#                             print(k, " : ", v)
#                 print()

#             c = 20

#         elif inp == "5":
#             for i in data["data"][20:25]:
#                 for k, v in i.items():
#                     if k:
#                         if k == "DOB":
#                             print(k, " : ", date_format(v))
#                         else:
#                             print(k, " : ", v)
#                 print()

#             c = 25

#         elif inp == "p" or inp == "P":
#             c -= 5
#             pageing(c)
#             if c <= 0:
#                 print("No Page Left")

#         else:
#             print("Invalid Input")

#         print(c)

In [9]:
c = 0
def page():
    
    for i in data["data"][:5]:
        for k, v in i.items():
            if k:
                if k == "DOB":
                    print(k, " : ",date_format(v))
                else:
                    print(k, " : ", v)
        print()

    while True:

        inp = input(string)
        print()
        if inp == "n" or inp == "N":
            c += 5
            if c >= 25:
                print("End of the Page")
            else:
                pageing(c)

        elif inp == "1":
            for i in data["data"][:5]:
                for k, v in i.items():
                    if k:
                        if k == "DOB":
                            print(k, " : ", date_format(v))
                        else:
                            print(k, " : ", v)
                print()

        elif inp == "2":
            for i in data["data"][5:10]:
                for k, v in i.items():
                    if k:
                        if k == "DOB":
                            print(k, " : ", date_format(v))
                        else:
                            print(k, " : ", v)
                print()
            c = 10

        elif inp == "3":
            for i in data["data"][10:15]:
                for k, v in i.items():
                    if k:
                        if k == "DOB":
                            print(k, " : ", date_format(v))
                        else:
                            print(k, " : ", v)
                print()

            c = 15

        elif inp == "4":
            for i in data["data"][15:20]:
                for k, v in i.items():
                    if k:
                        if k == "DOB":
                            print(k, " : ", date_format(v))
                        else:
                            print(k, " : ", v)
                print()

            c = 20

        elif inp == "5":
            for i in data["data"][20:25]:
                for k, v in i.items():
                    if k:
                        if k == "DOB":
                            print(k, " : ", date_format(v))
                        else:
                            print(k, " : ", v)
                print()

            c = 25

        elif inp == "p" or inp == "P":
            c -= 5
            pageing(c)
            if c <= 0:
                print("No Page Left")

        else:
            print("Invalid Input")

In [10]:
page(c)

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

P , 1 , 2 , 3 , 4 , 5 , N1

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

0
P , 1 , 2 , 3 , 4 , 5 , N2

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

10
P , 1 , 2 , 3 , 4 , 5 , N3

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

15
P , 1 , 2 , 3 , 4 , 5 , N4

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

20
P , 1 , 2 , 3 , 4 , 5 , N5

id  :  21
Name  :  Henrietta
Age  :  7
DOB  :  20th Jun 2015

id  :  22
Name  :  Conney
Age  :  5
DOB  :  22nd Jul 2016

id  :  23
Name  :  Lucy
Age  :  5
DOB  :  08th Sep 2016

id  :  24
Name  :  Larissa
Age  :  4
DOB  :  12th Jul 2017

id  :  25
Name  :  Leonhard
Age  :  3
DOB  :  22nd Jun 2019

25
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  21
Name  :  Henrietta
Age  :  7
DOB  :  20th Jun 2015

id  :  22
Name  :  Conney
Age  :  5
DOB  :  22nd Jul 2016

id  :  23
Name  :  Lucy
Age  :  5
DOB  :  08th Sep 2016

id  :  24
Name  :  Larissa
Age  :  4
DOB  :  12th Jul 2017

id  :  25
Name  :  Leonhard
Age  :  3
DOB  :  22nd Jun 2019

20
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

15
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

10
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

5
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

No Page Left
0
P , 1 , 2 , 3 , 4 , 5 , Np

No Page Left
-5
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

No Page Left
-10
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

No Page Left
-15
P , 1 , 2 , 3 , 4 , 5 , Np

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

No Page Left
-20
P , 1 , 2 , 3 , 4 , 5 , N1

id  :  1
Name  :  Ines
Age  :  31
DOB  :  22nd Dec 1990

id  :  2
Name  :  Latrena
Age  :  31
DOB  :  16th Feb 1991

id  :  3
Name  :  Thelma
Age  :  30
DOB  :  17th May 1992

id  :  4
Name  :  Rianon
Age  :  29
DOB  :  05th Aug 1992

id  :  5
Name  :  Rafa
Age  :  29
DOB  :  13th Sep 1992

-20
P , 1 , 2 , 3 , 4 , 5 , N2

id  :  6
Name  :  Arabela
Age  :  28
DOB  :  24th Oct 1993

id  :  7
Name  :  Dione
Age  :  25
DOB  :  03rd May 1997

id  :  8
Name  :  Aline
Age  :  23
DOB  :  02nd Mar 1999

id  :  9
Name  :  Teddi
Age  :  20
DOB  :  04th Aug 2001

id  :  10
Name  :  Ellary
Age  :  18
DOB  :  24th May 2004

10
P , 1 , 2 , 3 , 4 , 5 , N3

id  :  11
Name  :  Rory
Age  :  16
DOB  :  05th Mar 2006

id  :  12
Name  :  Mallissa
Age  :  15
DOB  :  08th Jan 2007

id  :  13
Name  :  Jessey
Age  :  14
DOB  :  19th Jul 2007

id  :  14
Name  :  Georgina
Age  :  14
DOB  :  16th Mar 2008

id  :  15
Name  :  Butch
Age  :  13
DOB  :  03rd Dec 2008

15
P , 1 , 2 , 3 , 4 , 5 , N4

id  :  16
Name  :  Edmund
Age  :  13
DOB  :  23st Mar 2009

id  :  17
Name  :  Elisabetta
Age  :  10
DOB  :  06th Jun 2012

id  :  18
Name  :  Jasmine
Age  :  10
DOB  :  06th Jul 2012

id  :  19
Name  :  Binni
Age  :  9
DOB  :  10th Mar 2013

id  :  20
Name  :  Kendra
Age  :  7
DOB  :  18th Oct 2014

20
P , 1 , 2 , 3 , 4 , 5 , N5

id  :  21
Name  :  Henrietta
Age  :  7
DOB  :  20th Jun 2015

id  :  22
Name  :  Conney
Age  :  5
DOB  :  22nd Jul 2016

id  :  23
Name  :  Lucy
Age  :  5
DOB  :  08th Sep 2016

id  :  24
Name  :  Larissa
Age  :  4
DOB  :  12th Jul 2017

id  :  25
Name  :  Leonhard
Age  :  3
DOB  :  22nd Jun 2019

25
P , 1 , 2 , 3 , 4 , 5 , N6

Invalid Input
25

KeyboardInterrupt: Interrupted by user

In [15]:
def filter_age(e):
    return e["Name"]

In [21]:
data["data"].sort(key = filter_age)

In [26]:
age_sort = data["data"].copy()

In [31]:
age_sort.sort(key = filter_age)

In [32]:
age_sort

[{'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'},
 {'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'},
 {'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'},
 {'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'},
 {'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'},
 {'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'},
 {'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'},
 {'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'},
 {'id': 18, 'Name': 'Jasmine', 'Age': 10, 'DOB': '06/7/2012'},
 {'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'},
 {'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'},
 {'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'},
 {'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'},
 {'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'},
 {'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'},
 {'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'},
 {'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'},
 {'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'},
 {'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'},
 {'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'},
 {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
 {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'},
 {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
 {'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
 {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'}]

In [22]:
data["data"]

[{'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'},
 {'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'},
 {'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'},
 {'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'},
 {'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'},
 {'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'},
 {'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'},
 {'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'},
 {'id': 18, 'Name': 'Jasmine', 'Age': 10, 'DOB': '06/7/2012'},
 {'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'},
 {'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'},
 {'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'},
 {'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'},
 {'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'},
 {'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'},
 {'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'},
 {'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'},
 {'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'},
 {'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'},
 {'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'},
 {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
 {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'},
 {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
 {'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
 {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'}]

In [14]:
def myFunc(e):
    return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [43]:
def filter_age(e):
    return e["Name"]
s_name = data["data"].copy()
s_name.sort(key=filter_age)
print(s_name)
# def sort_Name_a():
    
#     for i in s_name:
#         for k, v in i.items():
#             if k:
#                 if k == "DOB":
#                     print(k, " : ",date_format(v))
#                 else:
#                     print(k, " : ", v)
#         print()

[{'id': 8, 'Name': 'Aline', 'Age': '', 'DOB': '02/3/1999'}, {'id': 6, 'Name': 'Arabela', 'Age': '', 'DOB': '24/10/1993'}, {'id': 19, 'Name': 'Binni', 'Age': '', 'DOB': '10/3/2013'}, {'id': 15, 'Name': 'Butch', 'Age': '', 'DOB': '03/12/2008'}, {'id': 22, 'Name': 'Conney', 'Age': '', 'DOB': '22/7/2016'}, {'id': 7, 'Name': 'Dione', 'Age': '', 'DOB': '03/5/1997'}, {'id': 16, 'Name': 'Edmund', 'Age': '', 'DOB': '23/3/2009'}, {'id': 17, 'Name': 'Elisabetta', 'Age': '', 'DOB': '06/6/2012'}, {'id': 10, 'Name': 'Ellary', 'Age': '', 'DOB': '24/5/2004'}, {'id': 14, 'Name': 'Georgina', 'Age': '', 'DOB': '16/3/2008'}, {'id': 21, 'Name': 'Henrietta', 'Age': '', 'DOB': '20/6/2015'}, {'id': 1, 'Name': 'Ines', 'Age': '', 'DOB': '22/12/1990'}, {'id': 18, 'Name': 'Jasmine', 'Age': '', 'DOB': '06/7/2012'}, {'id': 13, 'Name': 'Jessey', 'Age': '', 'DOB': '19/7/2007'}, {'id': 20, 'Name': 'Kendra', 'Age': '', 'DOB': '18/10/2014'}, {'id': 24, 'Name': 'Larissa', 'Age': '', 'DOB': '12/7/2017'}, {'id': 2, 'Name': 'Latrena', 'Age': '', 'DOB': '16/2/1991'}, {'id': 25, 'Name': 'Leonhard', 'Age': '', 'DOB': '22/6/2019'}, {'id': 23, 'Name': 'Lucy', 'Age': '', 'DOB': '08/9/2016'}, {'id': 12, 'Name': 'Mallissa', 'Age': '', 'DOB': '08/1/2007'}, {'id': 5, 'Name': 'Rafa', 'Age': '', 'DOB': '13/9/1992'}, {'id': 4, 'Name': 'Rianon', 'Age': '', 'DOB': '05/8/1992'}, {'id': 11, 'Name': 'Rory', 'Age': '', 'DOB': '05/3/2006'}, {'id': 9, 'Name': 'Teddi', 'Age': '', 'DOB': '04/8/2001'}, {'id': 3, 'Name': 'Thelma', 'Age': '', 'DOB': '17/5/1992'}]

In [42]:
sort_Name_a()

[{'id': 1, 'Name': 'Ines', 'Age': '', 'DOB': '22/12/1990'}, {'id': 2, 'Name': 'Latrena', 'Age': '', 'DOB': '16/2/1991'}, {'id': 3, 'Name': 'Thelma', 'Age': '', 'DOB': '17/5/1992'}, {'id': 4, 'Name': 'Rianon', 'Age': '', 'DOB': '05/8/1992'}, {'id': 5, 'Name': 'Rafa', 'Age': '', 'DOB': '13/9/1992'}, {'id': 6, 'Name': 'Arabela', 'Age': '', 'DOB': '24/10/1993'}, {'id': 7, 'Name': 'Dione', 'Age': '', 'DOB': '03/5/1997'}, {'id': 8, 'Name': 'Aline', 'Age': '', 'DOB': '02/3/1999'}, {'id': 9, 'Name': 'Teddi', 'Age': '', 'DOB': '04/8/2001'}, {'id': 10, 'Name': 'Ellary', 'Age': '', 'DOB': '24/5/2004'}, {'id': 11, 'Name': 'Rory', 'Age': '', 'DOB': '05/3/2006'}, {'id': 12, 'Name': 'Mallissa', 'Age': '', 'DOB': '08/1/2007'}, {'id': 13, 'Name': 'Jessey', 'Age': '', 'DOB': '19/7/2007'}, {'id': 14, 'Name': 'Georgina', 'Age': '', 'DOB': '16/3/2008'}, {'id': 15, 'Name': 'Butch', 'Age': '', 'DOB': '03/12/2008'}, {'id': 16, 'Name': 'Edmund', 'Age': '', 'DOB': '23/3/2009'}, {'id': 17, 'Name': 'Elisabetta', 'Age': '', 'DOB': '06/6/2012'}, {'id': 18, 'Name': 'Jasmine', 'Age': '', 'DOB': '06/7/2012'}, {'id': 19, 'Name': 'Binni', 'Age': '', 'DOB': '10/3/2013'}, {'id': 20, 'Name': 'Kendra', 'Age': '', 'DOB': '18/10/2014'}, {'id': 21, 'Name': 'Henrietta', 'Age': '', 'DOB': '20/6/2015'}, {'id': 22, 'Name': 'Conney', 'Age': '', 'DOB': '22/7/2016'}, {'id': 23, 'Name': 'Lucy', 'Age': '', 'DOB': '08/9/2016'}, {'id': 24, 'Name': 'Larissa', 'Age': '', 'DOB': '12/7/2017'}, {'id': 25, 'Name': 'Leonhard', 'Age': '', 'DOB': '22/6/2019'}]

In [46]:
data["data"]

[{'id': 1, 'Name': 'Ines', 'Age': 31, 'DOB': '22/12/1990'},
 {'id': 2, 'Name': 'Latrena', 'Age': 31, 'DOB': '16/2/1991'},
 {'id': 3, 'Name': 'Thelma', 'Age': 30, 'DOB': '17/5/1992'},
 {'id': 4, 'Name': 'Rianon', 'Age': 29, 'DOB': '05/8/1992'},
 {'id': 5, 'Name': 'Rafa', 'Age': 29, 'DOB': '13/9/1992'},
 {'id': 6, 'Name': 'Arabela', 'Age': 28, 'DOB': '24/10/1993'},
 {'id': 7, 'Name': 'Dione', 'Age': 25, 'DOB': '03/5/1997'},
 {'id': 8, 'Name': 'Aline', 'Age': 23, 'DOB': '02/3/1999'},
 {'id': 9, 'Name': 'Teddi', 'Age': 20, 'DOB': '04/8/2001'},
 {'id': 10, 'Name': 'Ellary', 'Age': 18, 'DOB': '24/5/2004'},
 {'id': 11, 'Name': 'Rory', 'Age': 16, 'DOB': '05/3/2006'},
 {'id': 12, 'Name': 'Mallissa', 'Age': 15, 'DOB': '08/1/2007'},
 {'id': 13, 'Name': 'Jessey', 'Age': 14, 'DOB': '19/7/2007'},
 {'id': 14, 'Name': 'Georgina', 'Age': 14, 'DOB': '16/3/2008'},
 {'id': 15, 'Name': 'Butch', 'Age': 13, 'DOB': '03/12/2008'},
 {'id': 16, 'Name': 'Edmund', 'Age': 13, 'DOB': '23/3/2009'},
 {'id': 17, 'Name': 'Elisabetta', 'Age': 10, 'DOB': '06/6/2012'},
 {'id': 18, 'Name': 'Jasmine', 'Age': 10, 'DOB': '06/7/2012'},
 {'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'},
 {'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'},
 {'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'},
 {'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'},
 {'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'},
 {'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'},
 {'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'}]

In [53]:
start = 5
end = 25

In [52]:
n = int(input())
for i in range(len(data["data"])):
    if data["data"][i]["Age"] < n:
        print(data["data"][i])

{'id': 19, 'Name': 'Binni', 'Age': 9, 'DOB': '10/3/2013'}
{'id': 20, 'Name': 'Kendra', 'Age': 7, 'DOB': '18/10/2014'}
{'id': 21, 'Name': 'Henrietta', 'Age': 7, 'DOB': '20/6/2015'}
{'id': 22, 'Name': 'Conney', 'Age': 5, 'DOB': '22/7/2016'}
{'id': 23, 'Name': 'Lucy', 'Age': 5, 'DOB': '08/9/2016'}
{'id': 24, 'Name': 'Larissa', 'Age': 4, 'DOB': '12/7/2017'}
{'id': 25, 'Name': 'Leonhard', 'Age': 3, 'DOB': '22/6/2019'}